demowebapp/src/main/resources/xsd/dto.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


	<xs:complexType name="Character">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="characterID" type="xs:string" />
			<xs:element name="corporationName" type="xs:string" />
			<xs:element name="corporationID" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Characters">
		<xs:sequence>
			<xs:element name="characterList" type="Character" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>


</xs:schema>